# Core libraries
numpy==1.26.4
pandas==2.2.2

# Visualization
matplotlib==3.8.4
seaborn==0.13.2
missingno==0.5.2
plotly==5.21.0

# Machine Learning
scikit-learn==1.4.2
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.3

# Deep Learning: TensorFlow GPU (2.19.0 uses CUDA 11.8)
tensorflow==2.19.0

# Deep Learning: PyTorch GPU (CUDA 11.8)
# torch==2.2.2+cu118
# torchvision==0.17.2+cu118
# torchaudio==2.2.2+cu118
# for pytorch, use those comment
# python.exe -m pip install torch==2.2.2+cu118 torchvision==0.17.2+cu118 torchaudio==2.2.2+cu118 --index-url https://download.pytorch.org/whl/cu118

# Hyperparameter tuning (optional)
optuna==3.6.1